:root { --bs-primary: #2e2e2e; --bs-primary-rgb: 46, 46, 46; --bs-secondary: #d59844; --bs-secondary-rgb: 213, 152, 68; }
body { --bs-body-color: #474747; --bs-body-color-rgb: 71, 71, 71; --bs-body-bg: #c7c7c7; --bs-body-bg-rgb: 199, 199, 199; }
.navbar-nav { --bs-nav-link-color: #212121; }
.btn { --bs-btn-border-radius: 0px; --bs-btn-border-width: 2px; }
.form-control { --bs-border-radius: 0px; --bs-border-width: 2px; }
